
   <style>
       #app{
    min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
   }
   </style>

<div id="app">
    <div>
        <a href="api/About"></a>
        <a href="api/home"></a>
        <a href="api/Create"></a>
    </div>
        <h1>Welcome</h1>
        <h>Have a nice day!</h>
        <p> 
            <a href="http://10.148.68.58:3000/api/ps/Diagnostics@Agent.bat" download>Download Agent</a>
        </p>
        <div>
            <img src="/public/Images/DSC00155.JPG" height="400" width="850">
        </div>
        <!-- <button id="testdownload" onclick="sendrequest()" >Send Request</button> -->

</div>


